body {
   background-color: black;
   color: grey;
   font-size: 40px;
   font-style: Sans-serif;
  }

h1{

    color: orchid;
    text-align: center;
    padding: 25px;
    
}

h2{
    text-align: center;
    color: orchid;
    
}

p{
    font-size: 20px;
    
}




ul{
    
    
font-size: 20px;

}

div{
    width: 1650px;
    
    }

img {

    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;

}

span{

    background-color: black;
   color: grey;
}

